@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
    height:80px;
    padding:10px 100px;
    box-sizing: border-box;
    line-height: 20px;
    background:rgba(0,0,0,0.4);
    color:white;
    position:relative;
    margin: 0px 0px 0px 0px;
    z-index:6;
  }
.header.active {
      background:  black ;
      z-index:7;
  }
.title{
    margin-left: 80px;
    margin-top: -45px;
    font-size:40px;
  }

.sticky {
    position: fixed;
    width: 100%;
    top:0;
  }

.logo{
    float:left;
  }

ul{
    float: right;
    margin:0;
    padding:18px 0px;
    display:flex;
  }
ul li{
    list-style: none;
  }
ul li a{
    list-style: 80px;
    color:white;
    padding: 8px 40px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
  }
.black ul li a
  {
    color: #fff;
    line-height: 60px;
  }

ul li a:hover
  {
    color:black;
    background:#bdc3c3;
  }
ul li a:active
  {
   background:#f00;
  }
body{
  background: white;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  margin-top: 50px;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background:rgba(0,0,0,0.5);
  transition: 1s;
  margin: 15px;
  margin-bottom: 60px;
  width: 400px;
  padding: 30px;
  line-height: 30px;
  color: #8e8b8b;
  position: relative;
}

.team .team_member:hover{
    transform: scale(1.1);
    background: rgba(0,0,0,0.5);
    box-shadow: 1px 1px 1px #000;

}

.team .team_member h3{
  color:black;
  font-size: 26px;
  margin-top: 230px;
}

.team .team_member .role{
  color:black;
  margin: 1px 0;
  font-size: 16px;
  text-transform: uppercase;
}
.team .team_member .mail{
  color:black;
  margin: 1px 0;
  font-size: 13px;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 300px;
  height: 300px;
  padding: 5px;
  border-radius: 50%;

}
